* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    padding-top: 50px;
}
.container, .hero-bckgound {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.hero-bckgound {
    background: url(../img/main.jpg) no-repeat center center scroll;
    background-size: cover;
    z-index: 0;
    min-height: 90vh;
    width: 100vw;
}

.wrapper {
    max-width: 940px;
}

.about {
    background: white;
    height: 40vh;
}

.about, .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.contact {
    background: url(../img/main.jpg) no-repeat center center scroll;
    background-size: cover;
    z-index: 0;
    min-height: 100vh;
    width: 100vw;
}
