@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

// General styling
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, sans-serif;
  box-sizing: border-box;
}

a:focus, button:focus {
  outline:0 !important;
}

body {
	position: relative;
	margin: 0 auto;
}

li {
  list-style: none;
}

.container {
  @include flexColumnCenter;
  padding-top: 50px;
}

.wrapper {
  max-width: $wrapper;
}

// Backgound styling for Home page
.background-img {
  position: fixed;
  margin-top: 7vh;
	width: $fullWidthVp;
	height: 93vh;
  background: url(../images/nerve-bg.jpg) no-repeat center center scroll;
  background-size: cover;
  z-index: -1;
}

.hero {
  @include flexCenterCenter;
  z-index: 0;
  min-height: 90vh;
  width: $fullWidthVp;
}

// Loader styling
.loaderSmall {
	@include flexCenterCenter;
  position: fixed;
	left: 0px;
	top: 0px;
	width: $fullSizePercent;
	height: $fullSizePercent;
	z-index: 9999;
	background: map-get($colors, loaderSmallBg);
}

.ReactModalPortal {
  z-index: 1000;
}

// .news {
//   @include flexColumnCenterCenter;
//   background: rgba(255, 228, 225, 0.75);
//   height: 300px;
//   min-width: 500px;
//   padding: 30px;
//   text-align: center;
//   border-radius: 20px;
//
//   h1 {
//     margin-top: 0;
//   }
//
//   a {
//     letter-spacing: 1px;
//     font-weight: bold;
//     font-size: 12px;
//   }
// }
