// Footer styling
footer {
	width: $fullSizePercent;
	text-align: center;
	padding: $sm-space 0 $m-space 0;
	position: relative;
	border-top: 1px solid $darkGrey;
	background: $white;

	p, a {
		font-size: 9px;
		letter-spacing: 1px;
	}
}
