// Footer styling
footer {
	width: $fullSizePercent;
	text-align: center;
	padding: $xs-space;
	position: relative;
	border-top: 1px solid $darkGrey;
	background: $white;

	p {
		font-size: 9px;
		line-height: normal;
	}
}
