// Contaft function
// MOBILE FIRST (only maillinkto functionality)
.contact {
  height: 50vh;
}

// DESKTOP STYLING
@media screen and (min-width: 700px) {
  .contact, .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: $fullHeightVp;
    width: $fullWidthVp;
  }

  .contact {
    z-index: 0;

  }

  // layer to see contact form more clear
  .filter {
    min-height: $fullHeightVp;
    background: $blackOpacity;
  }

  // form styling
  form {
    font-size: $sm-space;
    position: relative;
  }

  .form {
    display: flex;
    flex-flow: column;
    width: 90%;
    text-align: left;
    max-width: 500px;;
    font-size: $sm-space;

    label {
      margin: $sm-space 0 $xs-space 0;
    }

    #btn-submit {
      margin-top: $m-space;
      width: $fullSizePercent;
    }

    input,
    textarea {
      background: $fieldcolor;
      border: none;
      // border-bottom: 0.1rem solid #efefef;
      border-radius: $xs-space;
      transition: all 200ms ease-in-out;
      padding: 0.5rem 1rem calc(1rem - 0.2rem) 1rem;

      &:focus {
        background: $fieldcolorHover;
        outline: none;
      }
    }
  }
}
