// Menu styling
// MOBILE STYLING
nav {
  position: fixed;
  background-color: map-get($colors, whiteOpacity);
  box-shadow: 0px 4px 8px 0px map-get($colors, blackOpacity);
  z-index: 2;
  width: $fullWidthVp;

  ul {
    @include flexCenterSB;

    .contactWeb {
      display: none;
    }

    li {
      padding: $m-space;
      a {
        font-size: 12px;
      }
    }
  }
}

// DESKTOP STYLING
@media screen and (min-width: 700px) {
  nav {
    ul {
      justify-content: center;

      .contactWeb {
        display: block;
      }
      .contactMobile {
        display: none;
      }
    }
  }
}
