// Archive styling
// MOBILE STYLING
.archive-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  width: $fullSizePercent;
}

.archive-wrapper {
  width: $wrapper;
}

.filterList {
  display: flex;
  margin-top: $xl-space;
  justify-content: space-around;

  li {
    font-size: 12px;

    .btn {
      padding: $sm-space $m-space;
    }
  }

  .inActive {
    border-bottom: 4px solid map-get($colors, white);
  }

}

.active {
  border-bottom: 4px solid map-get($colors, pink);
}

.prodContainer {
  @include flexCenterCenter;
  flex-flow: wrap;
}

.placesBoxClass {
  width: $fullSizePercent;
  margin: 0 $m-space $xl-space $m-space;

  .placesImgClass {
    margin-bottom: $sm-space;
    width: $fullSizePercent;
    box-shadow: 0px 6px 8px 0px map-get($colors, blackOpacity);
    border-radius: 2px;
  }
}

.productBoxClass{
  margin: $m-space;
  display: flex;
  flex-flow: column;

  .productImgClass {
    margin-bottom: $sm-space;
    width: $fullSizePercent;
    box-shadow: 0px 6px 8px 0px map-get($colors, blackOpacity);
    border-radius: 2px;
  }
}

.modal-img {
  border-radius: 2px;
}

.boarder {
  border: 2px solid map-get($colors, darkGreen);
}

// Modal/Popup image functionality styling
.modal-img {
  max-width: 75vw;
  max-height: 75vh;
}

.close {
  font-weight: bold;
  font-size: 25px;
  text-align: right;
  margin: $xl-space 0;
  transition: all .30s ease;
  height: $l-space;
}

.close:hover {
  font-size: 33px;
}

.close:active {
  color: map-get($colors, black);
}

.modal-box {
  color: map-get($colors, white);
}

.modalDesc {
  color: map-get($colors, white);
}

.btn {
  border: none;
  background: none;
}

// DESKTOP STYLING
@media screen and (min-width: 600px) {
  .prodContainer {
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .filterList {
    max-width: 30vw;
    justify-content: space-between;

    .inActive:active {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
  }

  .productBoxClass{
    margin: $m-space 0;
    max-width: 22%;

    .productImgClass {
      width: $fullSizePercent;
    }
  }

  .placesBoxClass {
    max-width: 30%;

    .placesImgClass {
      margin-bottom: $sm-space;
      width: $fullSizePercent;
      box-shadow: 0px 6px 8px 0px map-get($colors, blackOpacity);
      border-radius: 2px;
    }
  }

  // Sink product effect on product-hover
  .hvr-sink {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
