* {
    margin: 0;
    padding: 0;
}

body {
    padding: 5px;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#container {
    padding: 20px;
    background: white;
    border-radius: 5px;

}

form {
    display: flex;
    margin-bottom: 0.4rem;

    input {
        padding: 4px;
    }
    input:focus {
        outline: none;
    }
    p {
        padding: 4px;
    }
}

thead {
    margin-bottom: 1rem;
    color: fuchsia;
}

tr {
    th {
        text-align: left;
    }
}

table {
    width: 100%;
}
